<ng-container>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="">Laboratorio IV</a>
        <div class="d-flex align-items-center">
            <button type="button" class="btn btn-outline-primary me-2" (click)="logout()">LogOut</button>
        </div>
      </div>
    </nav>
  </ng-container>
  
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" routerLink="/búsqueda">Busqueda</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/película/alta">Alta pelicula</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/actor/alta">Alta actor</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/actor/listado">Listado actores</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/película/listado">Listado peliculas</a>
    </li>
  </ul>
  
